h1 {
  text-align: center;
  color: #564017;
  background-color: #FFDFA3;
  width: 380px;
  font-size: 26px;
}

.sidebar {
  float: right;
  background-color: transparent;
  border-style: none;
  border-color: black;
  color: white;
  padding-left: 0px;
}

ol {
  font-size: 11pt;
  padding-left: : 0px;
  margin: 0 auto;
}

@media screen and (max-width: 1386px) {
  ol{
    font-size: 8pt;
  }
}

h2.aboutme {
  text-align: left;
  color: white;
}

.col-md-6 ul{
  background-color: #92611D;
  opacity: 0.8;
  color: #E4E4E6;
}

.col-md-6 p {
  background-color: #92611D;
  opacity: 0.8;
}

h3.bar {
  text-align: center;
  border-style: solid;
  background-color: #92611D;
  color: white;
  border-color: black;
  opacity: 0.8;
}

p {
  font-size: 18px;
  color: #E4E4E6;
}

.int {
  background-color: #92611D;
  opacity: 0.8;
}

p.int {
  width: 50%;
  background-color: #564017;
}

.col-md-2 p {
  text-align: left;
  font-style: italic;
  background-color: #564017;
  opacity: 0.7;
}

.col-md-2 ul{
  color: white;
  background-color: #564017;
  opacity: 0.7;
}

a {
  color: white;
}

h3.project {
  text-align: left;
  background-color: #564017;
  opacity: 0.7;
}

body {
  background-image: url("../img/cap.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 80%;
}

.col-md-2 {
  border-style: none;
  background-color: transparent;
  padding-left: 1px;
  margin-left: 30px;
}

.spicy {
  color: red;
  font-style: oblique;
  font-family: cursive;
  font-size: 20px;
}

.spicy img {
  height: 30px;
  width: 30px;
  opacity: 0.8;
  background: red;
}
