.topbanner {
  text-align: center;
}

h2.aboutme {
  text-align: center;
}

h3.bar {
  text-align: center;
  border-style: solid;
  background-color: #92DDF3;
}

p {
  font-size: 18px;
}

.col-md-2 p {
  text-align: left;
  font-style: italic;
}

ol {
  background-color: #92DDF3;
  width: 14%;
  border-style: solid;
}

h3.project {
  text-align: center;
}

body {
  background-image: url("../img/portland.jpg");
}

.col-md-2 {
  border-style: solid;
  background-color: #92DDF3;
  padding-left: 1px;
  margin-left: 20px;
}
